# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\ADMIN\IdeaProjects\refactoring_tenis_kata_-_segundo_nivel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
/target
*.iml
*.class